@keyframes looparound {
  0% {
    padding-left: 0px;
  }
  25% {
    padding-left: 25px;
  }
  50% {
    padding-left: 50px;
  }
  75% {
    padding-left: 25px;
  }
  100% {
    padding-left: 0px;
  }
}
* {
  background-color: black;
}
div {
  margin-left: auto;
  margin-right: auto;
  background-color: brown;
  width: 500px;
  padding: 20px;
}
header {
  text-align: center;
  font-family: fantasy;
  font-size: xx-large;
  background-color: brown;
  padding: 10px;
}
img {
  /* margin-left: auto;
    margin-right: auto; */
  width: 300px;
  height: auto;
  animation-name: looparound;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
p {
  text-align: center;
  margin: 10px;
  display: block;
  width: 450;
  background-color: brown;
  font-family: 'Courier New', Courier, monospace;
}
ul {
  margin-left: auto;
  margin-right: auto;
  width: 300;
  background-color: brown;
  display: block;
}
ul > * {
  list-style-type: upper-alpha;
  background-color: brown;
}
li:hover {
  transform: skewX(30deg);
  transition: transform 1s ease;
}
a {
  background-color: brown;
  color: whitesmoke;
  text-decoration-line: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: all 1s ease;
}
a:hover {
  transition: all 1s ease;
  color: black;
}
