@box-color: brown;

* {
    background-color: black;
}

div {
    margin-left: auto;
    margin-right: auto;
    background-color: @box-color;
    width: 500px;
    padding: 20px;
}

header {
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    background-color: @box-color;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

p {
    text-align: center;
    margin: 10px;
    display: block;
    width: 450;
    background-color: @box-color;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    margin-left: auto;
    margin-right: auto;
    width: 300;
    background-color: @box-color;
}

li {
    list-style-type: upper-alpha;
    background-color: @box-color;
}

a {
    background-color: @box-color;
    color: whitesmoke;
    text-decoration-line: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}